<h1>Lista de Circulos</h1>
<div class="circulos">
  <div class="navbar navs-fixed">
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_circulo_path,
                :class => 'btn btn-primary' if can? [:manage], Circulo %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nro Circulo</th>
        <th>Coordinador</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @circulos.each do |circulo| %>
        <tr>
          <td><%= circulo.id %></td>
          <td><%= circulo.try('coordinador').try('nombre_completo') || 'Sin Coordinador' %></td>
          <td><%= link_to 'Mostrar', circulo, class: "btn btn-default btn-xs" %></td>
          <td><%= link_to 'Editar', edit_circulo_path(circulo), class: "btn btn-default btn-xs" %></td>
          <td><%= link_to 'Eliminar', circulo, method: :delete, data: { confirm: 'Esta seguro?' }, class: "btn btn-danger btn-xs"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>