<h1>Círculo N°: <%= @circulo.id %></h1>
<div class="circulos">
  <div class="breadcrumb">
    <%= link_to 'Editar', edit_circulo_path(@circulo) %> |
    <%= link_to 'Atrás', circulos_path %>
  </div>

  <p>
    <strong>Coordinador:</strong>
    <%= @circulo.coordinador.nombre %>
  </p>

<h3>Usuarios</h3>
<ul>
<% @circulo.usuarios.each do |u| %>
  <li><%= u.nombre %></li>
<% end %>
</ul>


<h3>Pedidos</h3>
<ul>
<% @circulo.pedidos.each do |p| %>
  <li><%= p.usuario.nombre %></li>
<% end %>
</ul>


</div>