<div class="usuarios">

<h1>Completá el formulario, y sos parte.</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), role: 'form') do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="col-md-6">
      <h2>Datos del usuario</h2>

      <h4>Completa con tus datos para ser miembro de la Gran Misión</h4>

      <p class="desc">Una vez completado el formulario, un email te será enviado para confirmar tu casilla de correo. Sigue el link que aparece en el correo recibido para activar tu cuenta.<br/>
      Con tu cuenta activada estas a un paso de poder realizar tu pedido.<br/>
      Ingresa al sitio y consulta en MIS DATOS (opción del menu) tu numero de identificación. Comunicaselo al coordinador de tu círculo para que este te haga parte del mismo y puedas enviar tu pedido!</p>
    </div>

    <div class="col-md-6">

      <h3>Consumidor Colaborativo</h3>

      <p>Todos los campos son <strong>requeridos</strong></p>

      <div class="form-group">
        <label for="nombre">Tipo de usuario: <span>[requerido]</span></label>
        <div class="radio">
          <label>
            <%= f.radio_button(:type, "Usuario", checked: true)  %>
            Usuario
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button(:type, "Coordinador")  %>
            Coordinador
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="nombre">Nombre: <span>[requerido]</span></label>
        <%= f.text_field :nombre, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido: <span>[requerido]</span></label>
        <%= f.text_field :apellido, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="email1">Correo Electrónico: <span>[requerido]</span></label>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        <p class="help-block">ejemplo: tucorreo@gmail.com</p>
      </div>
      <div class="form-group">
        <label for="fecha_de_nacimiento">Fecha de nacimiento: <span>[requerido]</span></label>
        <%= f.date_select :fecha_de_nacimiento, { start_year: 1900 }, { class: 'form-control'} %>
        <p class="help-block">ejemplo: dd/mm/aaaa - 11/07/1977</p>
      </div>
      <div class="form-group">
        <label for="dni">D.N.I.: <span>[requerido]</span></label>
        <%= f.text_field :dni, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="domicilio">Domicilio: <span>[requerido]</span></label>
        <%= f.text_field :calle, class: 'form-control' %>
        <p class="help-block">ejemplo: Calle Nº Piso Depto.</p>
      </div>
      <div class="form-group">
        <label for="localidad">Localidad: <span>[requerido]</span></label>
        <%= f.text_field :ciudad, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="codigo_postal">Cod. Postal: <span>[requerido]</span></label>
        <%= f.text_field :codigo_postal, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono: </label>
        <%= f.text_field :tel1, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="celular">Celular:</label>
        <%= f.text_field :cel1, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="passOne">Contraseña: <span>[requerido]</span></label>
        <%= f.password_field :password, autocomplete: "off",  class: 'form-control' %>
        <p class="help-block">* 8 (ocho) caracteres como mínimo</p>
      </div>
      <div class="form-group">
        <label for="passTwo">Repetir Contraseña: <span>[requerido]</span></label>
        <%= f.password_field :password_confirmation, autocomplete: "off",  class: 'form-control' %>
      </div>
       <div class="form-group">
        <input type="checkbox" checked="" name="terminos" id="term">
        <label for="term" style="line-height: 26px; padding-top: 24px">
          Acepto los <a class="btn-link" data-toggle="modal" data-target="#terminos">términos y condiciones.</a>
        </label>
      </div>
      <div class="form-group">
        <div><%= f.submit "Registrate", class: 'lm-form-nav' %></div>
      </div>

    </div>
  </div>
<% end %>
</div>

<!--modal términos y condiciones-->
<div class="modal fade" id="terminos" tabindex="-1" role="dialog" aria-labelledby="terminos" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center"> Términos y Condiciones de la Red de Consumidores Colaborativos (“Misión Antiinflación”) para la utilización del Servicio</h2>
      </div>
      <div class="modal-body activa-scroll">
        <div class="modal-header sub">
          <h4 class="modal-title">General</h4>
        </div>
        <p>A continuación se detallan los Términos y Condiciones (en adelante, las “Condiciones”) que regulan el acceso y/o uso por Ud.
          (en adelante el “Consumidor colaborativo”) de los servicios de la Red de Consumidores Colaborativos (En adelante la “Misión Antiinflación”), descritos en el sitio
          web misionantiinflacion.com.ar (en adelante, el “Sitio Web”), así como de todos sus servicios, contenidos, servicios relacionados incluyendo cualesquiera ampliación,
          actualización o modificación de cualquiera de ellos (en adelante conjuntamente el “Servicio”). POR FAVOR, LEA DETENIDAMENTE ESTOS TÉRMINOS Y CONDICIONES, PUES EL HECHO
          DE ACCEDER Y/O USAR EL SERVICIO Y/O DE COMPLETAR EL PROCESO DE REGISTRO, SIGNIFICA QUE USTED HA LEÍDO,ENTENDIDO Y ACEPTA, SIN RESERVA ALGUNA, ESTOS TÉRMINOS Y CONDICIONES.
        </p>
        <p>La Asociación civil, sin fines de lucro, GIROS (en adelante la “Asociación”), es la entidad que
          gestiona y administra la Red de Consumidores Colaborativos, a través del Sitio Web y tiene su
          domicilio legal en Ovidio Lagos 790, Rosario, Argentina.
        </p>
        <p>
          Para el desarrollo y funcionamiento de la Misión Antiinflación, la Asociación pone a disposición un
          inmueble locado en  calle Constitución 2296, de la ciudad de Rosario, Argentina (en adelante el “Territorio”).
        </p>
        <p><b>CONTACTO:</b> Para cualquier tipo de duda, consulta o sugerencia, puede enviarnos sus comentarios por email a girosrosario@gmail.com.
        </p>
        <p>Para las comunicaciones necesarias que deriven de las siguientes cláusulas, se utilizará la casilla de <b>correos:</b> victoriacolectiva@gmail.com.
        </p>
        <div class="modal-header sub">
          <h4 class="modal-title">1. El Servicio</h4>
        </div>
        <p><b>1.1.</b> El Servicio tiene como finalidad poner a disposición de los Consumidores Colaborativos

          (hogares)una variedad de productos que integran la canasta familiar, propiciando “cuidar el

          bolsillo” del consumidor, a través de la eliminación progresiva de intermediarios. Al mismo

          tiempo, la generación de una Red de Consumidores Colaborativos, busca reemplazar los actuales

          mecanismos de adquisición de bienes y servicios basados en el hiperconsumo e individualismo,

          por formas colaborativas y solidarias de intercambio, donde se vean beneficiados tanto los

          consumidores como los productores locales y regionales de escala familiar y cooperativa. Para

          ello, la Asociación ofreceen el Sitio Web una plataforma que permite tanto la organización de los

          Consumidores Colaborativos en “Círculos”; como lacompra,por parte de los mismos,de productos

          (alimenticios, de limpieza e higiene personal), que integran el “Carro de Compras” disponible.

          Dicho “Carro de compras”, está en actualización permanente y es conformado por productos

          provenientes de productores, distribuidores, fábricas, etc. (en adelante “Proveedores”). Al mismo

          tiempo, la Asociación realiza distintas acciones tendientes a incorporar nuevos Proveedores que

          puedan sumarse a comercializar sus productos a través de la Misión Antiinflación, priorizando

          llegar al primer eslabón de la cadena productiva.
        </p>
        <p>
          La finalidad dewww.misionantiinflación.com.ar es poner en contacto y gestionar la plataforma

          para facilitar el acceso por parte de los Consumidores Colaborativosa productos alimentarios y

          otro tipo de productos o servicios y todos los servicios complementarios necesarios (la

          “Plataforma”) para la gestión de dicho Servicio (como por ejemplo la facturación de los pedidos,

          las informaciones de pago, los medios de contacto entre los consumidores colaborativos, entre

          otros). Corresponderá a la Asociación la gestión de la Plataforma y la gestión de los servicios

          complementarios de la Plataforma. Como así también la información referida a los productos que

          se encuentran a disposición de los Consumidores Colaborativos. Mientras que corresponderá a los

          Consumidores Colaborativos la solicitud y compra de los mismos, y su posterior retiro y

          distribución, siempre bajo la aplicación de las presentes Condiciones y las Condiciones Particulares

          entre la Asociación y los Proveedores.
        </p>
        <p>
          Para conocer mayor detalle acerca de la naturaleza del Servicio y las prestaciones incluidas los

          Consumidores Colaborativos pueden acceder al apartado “Como Funciona la Misión” disponible

          en la página de inicio del Sitio Web. Sin perjuicio de la capacidad de gestión de los Consumidores

          Colaborativos, la Plataforma gestionará y guardará la información necesaria relativa a las

          peticiones formalizadas para el control de las prestaciones ofrecidas a cada Consumidor

          Colaborativo.
        </p>
        <p>
          <b>1.2.</b> Para ser parte de la Misión Antiinflación, es preciso que los Consumidores Colaborativos se

          organicen en Círculos de Consumidores y designen un Coordinador de Círculo (en adelante el

          “Coordinador”), dicha designación es totalmente ajena a la Asociación, y de exclusiva

          responsabilidad de los miembros del círculo, quienes se hacen cargo de la renovación o cambio del

          Coordinador, en caso de estimarlo necesario.
        </p>
        <p>
          Para que los Consumidores Colaborativos puedan hacer uso del Servicio, el Coordinador deberá

          completar el proceso de registro y solicitud de alta de su Círculo en el Sitio Web, en la sección

          “Activar mi Círculo”, de acuerdo con las instrucciones y los medios establecidos en el mismo.La

          inscripción y uso de la página web serán totalmente gratuitos. Cada Consumidor Colaborativo

          dispondrá de una cuenta de usuario personal que le permitirá observar los productos y precios

          disponibles, y realizar sus pedidos de compra. Cada Consumidor Colaborativo elegirá un nombre

          de usuario (login) y una contraseña, ambos personales e intransferibles, asociados al “Perfil” del

          Consumidor Colaborativo y que le permitirá acceder al Servicio. CadaConsumidor Colaborativo es

          el único responsable de la seguridad y uso apropiado de su nombre de usuario y contraseña,

          siendo responsable de todas las actividades que ocurran bajo el uso de los mismos. El Servicio se

          activará para el Consumidor Colaborativo una vez que todos los miembros de su Círculo de

          Consumidores, se hayan registrado.
        </p>
        <p>
          <b>1.3.</b> Una vez activado el Círculo de Consumidores: todos los miembros del círculo podrán acceder al

          Servicio a través del Sitio Web, entrando al apartado “Iniciar Sesión”. Allí ingresarán a su Perfil

          personal,  desde el cual realizarán sus pedidos de compra, una vez al mes. Para el uso del Servicio,

          cada Consumidor Colaborativo deberá disponer de conexión a Internet (en ningún caso esta

          prestación se entenderá incluida en el Servicio ofrecido por la Misión Antiinflación).
        </p>
        <p>
          <b>1.4.</b> Por el uso del Servicio, los Consumidores Colaborativos expresamente autorizan a Misión

          Antiinflación para que permita al Sitio Web acceder a su Perfil. Asimismo autorizan a Misión

          Antiinflación a usar o publicar cualquier Perfil o cualquier parte del mismo en cualquier medio

          (incluyendo, a título enunciativo y no limitativo, boletines, sitios web de terceras personas, e-mail,

          SMS, audiovisual, medios de difusión o medios de edición) con la finalidad de dar publicidad al

          Servicio o al Sitio Web.
        </p>
        <div class="modal-header sub">
          <h4 class="modal-title">2. Normas de Uso del Círculo</h4>
        </div>
        <p>
          <b>2.1.</b> De la Misión Anti-inflación puede participar cualquier hogar,en concepto de Consumidor

          Colaborativo(no importa su barrio, la cantidad de personas que lo integran, etc.). El único requisito

          es organizarse con otros hogares que quieran ser parte de la Misión Antiinflación. De esta manera

          podrá conformar su Círculo de Consumidores de confianza. Ningún círculo puede estar integrado

          por menos de 3 hogares, ni más de 5 hogares, incluido el Coordinado del mismo.
        </p>
        <p>
          La conformación de los Círculos es totalmente voluntaria, y decidida por quienes conforman el

          Círculo, y ajena a la Asociación.
        </p>
        <p>
          Para inscribir su Círculo lo primero que tiene que definir es la persona que lo coordinará. Esa

          persona, ingresa al sitio web <b>www.misionantiinflacion.com.ar</b> y se dirige a la sección “Activa tu

          círculo” y/o “Activar círculo” allí completará un formulario con sus datos personales, y al mismo

          tiempo cargará los nombres y mails de los integrantes de su Círculo.
        </p>
        <p>
          La web enviará a esos mail un formulario similar, para que los Consumidores Colaborativos de su

          Círculo completen sus datos personales y acepten conformar su Círculo de confianza.

          Una vez que, al menos, 3 hogares cargaron sus datos, se da de alta el Círculo, y cada hogar posee

          una cuenta de usuario personal, desde la cual realizará sus pedidos de compra.
        </p>
        <p>
          Se podrán cambiar los miembros del Círculo, siempre y cuando el mismo quede integrado por, al

          menos, 3 hogares. Recomendamos mantener cierta estabilidad en los miembros del Círculo para

          realizar las distintas tareas del mismo. Es importante que quien se inscriba como Coordinador,

          pueda garantizar su continuidad ya que su rol es relevante para sostener la participación en la

          Misión Antiinflación. La conformación de cada Círculo de consumidores, es totalmente voluntaria y

          autónoma. La Asociación no interviene en la conformación del Círculo, ni en la distribución de las

          tareas a su interior.
        </p>
        <p>
          <b>2.2.</b> El círculo es el responsable de retirar las compras realizadas por sus miembros, para ello el

          Coordinador deberá informar, vía web, la persona encargada y autorizada por su círculo para

          retirar la mercadería. La Asociación no es responsable por los daños o pérdidas ocasionadas, en

          caso de que un círculo no retire la mercadería en el día y hora pautados.
        </p>
        <p>
          <b>2.3.</b> Cada Círculo (sin importar si está compuesto por 3, 4 o 5 hogares), para obtener los beneficios

          de la Misión Antiinflación, y poder realizar sus compras a través de este mecanismo, debe abonar

          una “Cuota Social Mensual” de $150,00 (ciento cincuenta pesos argentinos). La misma se utilizará

          exclusivamente a los fines de la Misión Antiinflación.
        </p>
        <p>
          <b>2.4.</b> El Coordinador del círculo tendrá las siguientes funciones:
        </p>
        <p>
          <b>2.4.1</b> Inscribir el círculo.
        </p>
        <p>
          <b>2.4.2</b> Notificar la apertura del “Ciclo de Compra” a los miembros de su Círculo.
        </p>
        <p>
          <b>2.4.3</b> Centralizar los pedidos de su Círculo, confirmar a los miembros de su círculo que recibió sus
          pedidos,  y enviar la información a la Asociación.
        </p>
        <p>
          <b>2.4.4.</b> Garantizar que algún miembro del Círculo se encargue de efectuar el pago por el monto

          total de todos los pedidos del Círculo, incluida la cuota mensual, en el plazo estipulado.
        </p>
        <p>
          <b>2.4.5.</b> Notificar a la Asociación el número de comprobante de pago, los datos identificatorios de

          quien retirará los pedidos del Círculo(nombre y apellido, DNI), y el horario en que realizará el

          retiro de los pedidos.
        </p>
        <p>
          <b>2.4.6</b> Notificar a la Asociación, vía mail, si existiesen diferencias entre el monto efectivamente

          abonado y el monto total que le correspondiese abonar al círculo, según los pedidos realizados. En

          base a dicha información, se formalizarán los pedidos, para su armado y entrega.
        </p>
        <b>2.4.7</b>  Notificar a la Asociación, vía mail, si existiesen altas y/o bajas entre los miembros de su

        Círculo. Inclusive modificaciones quien cumplirá el rol de Coordinador.
        </p>
        <p>
          Todas estas tareas el Coordinador las realizará  a través de su Perfil en el Sitio Web, o vía mail,

          según corresponda.
        </p>
        <p>
          La persona que asuma la condición de Coordinador de Círculo no recibirá remuneración alguna,

          por las tareas anteriormente detalladas, de parte de la Asociación. Como así tampoco ninguno de

          los Consumidores Colaborativos. El Coordinador reviste con la Asociación los derechos y deberes

          propios de un socio adherente, por ende la Asociación ni es responsable ante los Consumidores

          Colaborativos o terceros por el desarrollo de las funciones propias de las condiciones. Al mismo

          tiempo,  la asociación ni tiene ninguna relación con los Consumidores Colaborativos.
        </p>
        <p>
          <b>2.5.</b> Los datos consignados por los Consumidores Colaborativos en el Sitio Web serán utilizados

          exclusivamente a los fines del presente Servicio. Es obligación de los mismos, la modificación o

          actualización de los datos consignados, en caso de que corresponda; a los fines de que la

          Asociación, tenga una base actualizada de información acerca de los Consumidores Colaborativos.

          Sobre el Coordinador de un Círculo de Consumidores, vale aclarar que sus datos ingresarán a la

          base de la Asociación, en calidad de socio adherente, a los fines de registrar contablemente el

          pago de cuota social correspondiente a su Círculo de Consumidores.
        </p>
        <p>
          ‘A saber, el Estatuto de la Asociación entiende por “Asociados Adherentes, las personas menores

          de 21 años de edad que, simpaticen con los objetivos y fines de la entidad; y los que,

          compartiendo el objeto social, no desean tener participación en la actividad de la entidad.  Sus

          derechos son los prescritos en los incisos a) y b) del artículo 18*  pueden asistir a las Asambleas,

          exclusivamente con derecho a voz  cuando tuvieren la edad de 18 años como mínimo. Sus deberes

          son los prescritos en el artículo 20**. Abonarán una cuota inferior a la fijada para los asociados

          activos. (Artículo 21)
          <br>
			    <span class="text-info"><em>*a) Recibir una credencial que acredite su condición y categoría de Asociado; b) Frecuentar la sede

			      social, haciendo uso de todas las instalaciones y servicios, participar en todas las actividades que

			      programe la entidad, según corresponda. (Artículo 18)
			    </em>
			    </span>
          <br>
				  <span class="text-info">
				    <em>** a) Conocer, respetar y cumplir con las prescripciones del Estatuto, Reglamentos y resoluciones

				      de la Comisión Directiva y de las Asambleas; b) Abonar puntualmente las cuotas sociales y

				      contribuciones resueltas por Asambleas según corresponda, como así también los adicionales

				      resultantes por la prestación de servicios adicionales;. c) Velar, en toda ocasión, por el prestigio y

				      buen nombre de la entidad y cooperar con la Comisión Directiva, en su gestión para el logro de los

				      fines y objetivos sociales; d) Mantener dentro de la Sede social, y demás dependencias de la

				      entidad, y en todo momento que actúe como asociado, una conducta digna e irreprochable, con

				      modales y actitudes correctas y utilizando un lenguaje moderado en sus manifestaciones hacía los

				      demás asociados y la entidad; e) Comunicar los cambios de domicilio.
				    </em>
				  </span>
        </p>
        <p>
          En cuanto a los Consumidores de Círculo, sus datos integrarán un registro actualizado de

          beneficiarios del proyecto “Red de consumidores colaborativos”.
        </p>
        <p>
          <b>2.6.</b> Quienes no vivan en Rosario podrán participar de la Misión Antiinflación, siempre y cuando el

          Círculo pueda garantizar el retiro de los pedidos en el Territorio que se encuentra en Rosario. No

          siendo responsable la Asociación del retiro de la mercadería.
        </p>
        <p>
          <b>2.7.</b> Los Consumidores Colaborativos que suscriben a estos términos y condiciones conocen que la

          finalidad y el espíritu de la Misión Antiinflación es el acceso a bienes y servicios por parte de

          consumidores finales para su uso personal, familiar o social. Por tal motivo, la Asociación se

          reserva el derecho de expulsión del sistema de compras colaborativas a quienes adquieran bienes

          de la Misión Antiinflacióncon un destino comercial o de reventa.
        </p>
        <div class="modal-header sub">
          <h4 class="modal-title">3. Condiciones de Compra</h4>
        </div>
        <p>
          <b>3.1.</b> Cada Círculo de Consumidores está inscripto en un “Ciclo de Compra”. Este ciclo dura 2

          semanas. Desde el primer día disponible para hacer los pedidos, al día de entrega de los mismos,

          transcurren 14 días. Los pedidos siempre se entregan un día sábado.
        </p>
        <p>
          Una vez al mes se activa en el Perfil de cada Consumidor Colaborativo la opción de compra para

          que cada uno realice sus pedidos, en la sección “Carro de Compras”. No es obligatorio que los

          Círculos realicen compras todos los meses. Un círculo puede no realizar compras un mes. No

          obstante, la Cuota Social Mensual  del Círculo sigue siendo obligatoria. Si pasados 3 meses, un

          Círculo no realiza compras, ni abona su Cuota Social Mensual, se dará de baja al Círculo,

          automáticamente. En todos los casos, para poder realizar compras, el Círculo debe tener su cuota

          social abonada al día, incluida la que corresponda al mes en curso.
        </p>
        <p>
          No es obligación que realicen pedidos todos los miembros del Círculo. Puede ser que un mes algún

          miembro del Círculo decida no realizar sus pedidos a la MisiónAntiinflación, y el resto de los

          miembros si pueden realizar sus compras, siempre y cuando se garantice el pago de la Cuota Social

          Mensual del Círculo. Cada Círculo puede decidir a su interior, si ese mes la cuota se distribuye

          entre todos los miembros del Círculo, o sólo entre los que realicen compras. Estas definiciones, las

          toman los miembros del Círculo, autónomamente. La Asociación no interviene en ninguna decisión

          del círculo.
        </p>
        <p>
          En el Perfil de los Consumidores Colaborativos aparecerán en el Carro de Compras todos los

          productos y canastas de productos disponibles en stock, con el precio correspondiente.
        </p>
        <p>
          Cada Consumidor Colaborativo, selecciona los productos que desea pedir a la MisiónAntiinflación.

          Una vez que finalizó su compra, presiona la opción <span class="bg-warning">“Confirmar pedido”</span>.
        </p>
        <p>
          En el Perfil del Coordinador se centralizarán los pedidos del Círculo, incluido el del propio

          Coordinador. Debe tener en cuenta que no se venza el plazo para realizar las compras (72hs),

          estipulado en su Ciclo de Compras. Una vez confirmado el pedido del Círculo, le llegará al Perfil del

          Coordinador el monto total por cada Consumidor Colaborativo y el total del Círculo, incluida la

          Cuota Social Mensual.
        </p>
        <p>
          <b>3.2.</b> Cada Consumidor Colaborativo, al realizar la compra, podrá informarse de la variedad y

          cantidad de productos que dispone la MisiónAntiinflación, en su stock.
        </p>
        <p>
          Para adquirir determinados productos, el consumidor tendrá un límite máximo de compra, que

          será informado al momento que realice su pedido.
        </p>
        <p>
          No hay un mínimo de compra mensual, ni por Consumidor Colaborativo ni por Círculo.
        </p>
        <p>
          <b>3.3.</b> En el “Carro de compras” figurarán detalles de los productos, que le brindarán información al

          Consumidor Colaborativo, respecto de:
          <br>
          - Producto
          <br>
          - Marca
          <br>
          - Peso, contenido, etc.
          <br>
          - Cantidad disponible en stock.
          <br>
          - Cantidad máxima de compra permitida por Consumidor Colaborativo.
          <br>
          - Procedencia.
          <br>
          - Tipo de Proveedor (productor, cooperativa, empresa recuperada, distribuidor, etc.)
          <br>
          - Precio por unidad.
        </p>
        <p>
          Además se sumará información relativa a los ahorros obtenidos por los Consumidores

          Colaborativos, comparando precios con mecanismos tradicionales de comercialización (hiper y

          supermercados).
        </p>
        <p>
          La Asociación se reserva el derecho a actualizar los contenidos cuando lo estime conveniente, así

          como a eliminarlos, de manera temporal o definitiva.
        </p>
        <p>
          <b>3.4.</b> La Asociación, es un nexo entre los Proveedores de mercadería y los Consumidores

          Colaborativos. No garantiza en ningún momento stock de mercadería, siendo el oferente los

          proveedores, y no la Asociación. Por este motivo, puede haber situaciones que exceden a la

          Asociación en las que no se podrá cumplir con la identidad, o puntualidad en la entrega de la

          mercadería. Si algún producto solicitado por un Consumidor Colaborativo no se encuentra al día

          de la entrega, o si no hay identidad entre la calidad/marca del producto pedido y el producto

          adquirido por el Consumidor Colaborativo, se aplicará el siguiente mecanismo:
        </p>
        <p>
          <b>3.4.1</b> Se hará entrega de una nota de crédito donde constará el importe referido al producto

          abonado por el Consumidor Colaborativo, para que el mismo pueda utilizarlo en próximas

          compras, para la adquisición de cualquier producto disponible en la Misión Antiinflación.
        </p>
        <p>
          <b>3.5.</b> Una vez confirmado el pedido del Círculo, le llegará a la cuenta del Coordinador el monto total

          por cada Consumidor Colaborativo,  y el total del Círculo, este último se conforma de: las compras

          de cada Consumidor Colaborativo y la Cuota Social Mensual de $150,00 (ciento cincuenta pesos

          argentinos) correspondiente al Círculo en su conjunto, independientemente de la cantidad de

          hogares que conformen el mismo.
        </p>
        <p>

          Todos los precios de los productos que se indican a través del Sitio Web son finales (incluyen el IVA

          y los demás impuestos que pudieran corresponder).
        </p>
        <p>
          <b>3.6.</b> El Coordinador habilitará los medios que considere pertinentes para garantizar el pago total

          del círculo, dentro del plazo estipulado y detallado en el Sitio Web en el apartado “Conoce más-

          Cómo funciona la Misión?”. En ningún caso, la Asociación interviene en la organización libre de los

          círculos para distribuir las funciones.
        </p>
        <p>
          Los pagos a la Misión Antiinflación se realizan por Círculo, a través de depósito en cualquier

          sucursal del Banco Credicoop o vía transferencia bancaria a la cuenta de la Asociación que le será

          debidamente acreditada al círculo. El monto a abonar por cada Círculo se conformará conforme a

          la cláusula <b>3.5.</b> El círculo dispone de 4 días naturales para realizar el pago. Si el círculo no realiza el

          pago correspondiente dentro del plazo estipulado, o no informa del mismo a la Misión las compras

          serán automáticamente canceladas. En ningún caso está permitido el pago posterior a la fecha de

          vencimiento del plazo.
        </p>
        <p>

          Si el monto abonado por el Círculo a la Asociación, difiere del monto total del Círculo, el

          Coordinador será quien deba informar, vía mail, cómo se debe imputar el monto abonado, en

          función de dicha información se formalizarán los pedidos para su armado y entrega.
        </p>
        <p>
          <b>3.7.</b> Para que los pedidos del Círculo queden formalizados, el Coordinador deberá informar, vía

          web: el número de la transacción o depósito, los datos identificatorios de la persona que realizará

          el retiro de los pedidos del Círculo (Transportista), y la franja horaria en que efectuará la búsqueda

          de los mismos en el Territorio. De faltar alguno de los datos solicitados, no se formalizará pedido

          alguno. Sólo a partir del cumplimiento de los requisitos anteriormente detallados, los pedidos se

          consideran formalizados, y podrán ser retirados en el Territorio, por el Transportista del círculo.
        </p>
        <p>
          <b>3.8.</b>El Transportista, será responsable de:
        </p>
        <p>
          <b>3.8.1</b> Presentarse en el Territorio con algún comprobante de su identidad, y con el comprobante

          de pago del círculo. No se entregarán pedidos si no se cumple con alguno de esto dos requisitos.
        </p>
        <p>
          <b>3.8.2</b> Controlar que la mercadería que le es entregada corresponde con los pedidosrealizados por

          cada miembro del Círculo, detallados en las facturas emitidas por la Asociación.
        </p>
        <p>
          <b>3.8.3</b> Reclamar en el momento en que le es entregada la mercadería en caso de que haya algún

          error en la cantidad, calidad o marca, en relación a los productos pedidos por los Consumidores

          Colaborativos. A partir del momento en que el Transportista firme las facturas, la Asociación no se

          hace responsable por la pérdida, robo, deterioro, pérdida de la cadena de frío, o intercambio de la

          mercadería que figura en la factura.
        </p>
        <p>
          <b>3.8.4</b> Retirar del Territorio la mercadería de todos los miembros del Círculo con un vehículo a su

          cargo, en el horario que previamente haya confirmado el Coordinador del Círculo. La posterior

          distribución de la mercadería entre los Consumidores Colaborativos, de acuerdo a los pedidos que

          cada uno de ellos hubiera realizado, se hará de la manera que hubieran acordado los mismos. En

          ningún caso, la Asociación interviene o se hace responsable de cómo se realicen estas funciones.
        </p>
        <p>
          <b>3.9.</b> En caso de que el Transportista no haya retirado la mercadería el día y horario convenidos, el

          Coordinador del Círculo podrá acordar, vía mail, con la Asociación el retiro de la misma dentro de

          un plazo máximo de 48 hs. En este caso,la Asociación no se hará responsable por el deterioro

          sufrido por la mercadería debido al paso del tiempo. Si, nuevamente, el Transportista que hubiera

          confirmado el Coordinador no retirara la mercadería en el día y horario acordados, el Círculo

          perderá el derecho a reclamar la mercadería pedida. A cambio el Círculo recibirá un reembolso

          correspondiente a los productos no perecederos de la compra, sin posibilidad de reclamar el resto

          del dinero depositado o transferido a la cuenta bancaria de la Asociación.
        </p>
        <p>
          <b>3.10.</b> La facturación por la compra realizada, será efectuada a título personal a cada Consumidor

          Colaborativo miembro del Círculo. Una vez entregada la mercadería a el Transportista (ver

          apartado 3.9), éste será quien firme las facturas de todos los Consumidores Colaborativos del

          Círculo. De esta manera prestará conformidad de que lo recibido es lo que figura en la factura, y la

          Asociación no se hará responsable de las vicisitudes enumeradas en el apartado 3.9. Se considera

          que el Transportista es la persona autorizada por cada uno de los Consumidores Colaborativos del

          Circulo para retirar los pedidos y firmar las facturas correspondientes.
        </p>
        <p>

          La Cuota Social Mensual de $150,00 (ciento cincuenta pesos argentinos) deberá ser abonada con

          aportes monetarios de los miembros del Círculo, de la manera que resuelva el Círculo la más

          conveniente, sin ningún tipo de intervención por parte de la Asociación en esta definición.El o los

          aportes que realicen los Consumidores Colaborativos para el pago de la Cuota Social, no les otorga

          ningún derecho ni obligación, derivados de la Asociación.El pago de la Cuota Social Mensual será

          facturado al Coordinador del Círculo,en carácter de socio adherente de la Asociación, no

          generándole esta situación algún tipo de responsabilidad extra.
        </p>
        <div class="modal-header sub">
          <h4 class="modal-title">4. Duración y Terminación del Servicio</h4>
        </div>
        <p>
          <b>4.1.</b> Las presentes Condiciones entrarán en vigor desde el momento de aceptación de los

          “Términos y Condiciones” por parte de cada Consumidor Colaborativo. La vigencia de las mismas

          es de forma indefinida hasta que la prestación o utilización del Servicio termine por alguno de los

          motivos descritos en las presentes Condiciones.
        </p>
        <p>
          <b>4.2.</b> La Asociación se reserva el derecho a modificar, suspender, restringir o interrumpir, temporal

          o permanentemente, el acceso y/o uso del Servicio o de cualquier parte del mismo, incluyendo la

          cancelación de la cuenta y  Perfil del Consumidor Colaborativo, con o sin notificación previa, en

          particular, pero sin limitación, en las siguientes situaciones:
        </p>
        <p>
          <b>4.2.1</b> Cuando el Consumidor Colaborativo incumpla las presentes Condiciones.
        </p>
        <p>
          <b>4.2.2</b> Cuando el Consumidor Colaborativo utilice de forma no apropiada el Sitio Web, cualquier

          parte del Servicio o cualesquiera otra propiedad de la Asociación.
        </p>
        <p>
          <b>4.2.3</b> Cuando el Consumidor Colaborativo sea o aparente no tener capacidad de contratar o en

          general ser menor de 18 años.
        </p>
        <p>
          <b>4.2.4</b> Cuando el Consumidor Colaborativo utilice el Servicio con fines comerciales o de reventa.
        </p>
        <p>
          <b>4.2.5</b> En caso que se detecte un fallo de seguridad o un acceso no autorizado al Servicio.
        </p>
        <p>
          <b>4.3.</b> CualquierConsumidor Colaborativo podrá solicitar voluntariamente su baja a través del

          Coordinador de su Círculo. En caso que quien quiera darse de baja, sea el Coordinador, este

          deberá comunicarlo a los miembros de su Círculo para que algún otro miembro cumpla sus

          funciones. En ningún caso, la Asociación intervendrá o tendrá responsabilidades por las decisiones

          que tomen los miembros del Círculo para garantizar su funcionamiento. El Círculo, deberá resolver

          autónomamente las situaciones que se le presenten, debiendo cumplir en todo el tiempo, los

          Términos y Condiciones presentes.
        </p>
        <p>
          Si por el término de 3 (tres) meses consecutivos, un Círculo no abona su Cuota Social Mensual, la

          Asociación puede proceder a su baja automática. De la misma manera, el Coordinador de un

          Círculo, puede, en caso que lo crea necesario, dar de baja a un Consumidor Colaborativo de su

          Círculo, si éste por el plazo consecutivo de 3 (tres) no realizase pedidos a la Misión Antiinflación.

          Cualquier modificación de los miembros de un Círculo, deberá ser informada por el Coordinador a

          la Asociación, vía mail. Incluyendo el cambio de Coordinador, dentro del mismo.
        </p>
        <p>
          Ningún Círculo podrá seguir en funcionamiento si no cumple con el requisito de contar con un

          Coordinador y estar integrado por, al menos, tres Consumidores Colaborativo (incluido el

          Coordinador). En caso, de no cumplir con tal requisito, la Asociación podrá proceder a la baja

          automática del Círculo.
        </p>
        <p>
          La baja, cancelación o expulsión del Servicio o de partes del mismo no dará derecho al Consumidor

          Colaborativo a ningún tipo de indemnización o reembolso por parte de la Asociación. Una vez

          dado de baja o expulsado del Servicio, el Consumidor Colaborativo deberá abstenerse de utilizar

          cualquier parte del Servicio.

        </p>
        <div class="modal-header sub">
          <h4 class="modal-title">5. Privacidad y Protección de Datos Personales</h4>
        </div>
        <p>
          <b>5.1.</b> La Asociación informa al Consumidor Colaborativo que los datos introducidos en el proceso de

          registro para el Servicio, o durante la utilización del mismo, incluyendo su Perfil, se incluirán en un

          fichero de datos de carácter personal cuyo responsable es la Asociación. Salvo que

          específicamente se establezca lo contrario, será necesario proporcionar todos los datos requeridos

          en el momento del registro o en la solicitud del Servicio. En el caso de no suministrar todos los

          datos necesarios la Asocación podrá, dependiendo del caso, no permitir el acceso o la utilización

          del Servicio, o no cursar la solicitud de que se trate. La Asociación garantiza que se utilizará los

          datos únicamente para las finalidades establecidas en las presentes Condicioness.
        </p>
        <p>
          <b>5.2.</b> La Asociación informa a los Consumidores Colaborativos que dentro del Servicio y en el Sitio

          Web se utilizan cookies propias. Las cookies son pequeños archivos que se instalan en el

          ordenador del usuario, y que permiten a la Asociación mejorar la forma de interactuar entre sus

          visitantes y su sitio web.
        </p>
        <p>
          <b>5.3.</b> De acuerdo con todo lo expuesto anteriormente, el Consumidor Colaborativo autoriza a la

          Asociación y consiente de modo expreso al tratamiento de todos sus datos de carácter personal de

          acuerdo con todas las finalidades indicadas, así como con las prestaciones y funcionalidades

          incluidas en el Servicio.
        </p>
        <div class="modal-header sub">
          <h4 class="modal-title">6. Propiedad Intelectual e Industrial</h4>
        </div>
        <p>
          <b>6.1.</b> Todos los contenidos y elementos del Servicio y del Sitio Web, incluyendo a título enunciativo

          y no limitativo, textos, dibujos, marcas (tanto las registradas, las no registradas o en proceso de

          registro, incluyendo el nombre “Misión Antiinflación” y “Red de Consumidores Colaborativos”),

          logos, gráficos, animaciones, códigos fuente, aplicaciones o cualquier otro elemento son

          titularidad de la Asociación o sus licenciantes. Su copia, transformación, distribución o

          comunicación pública, así como cualquier otro acto de disposición quedan terminantemente

          prohibidos, a menos que se disponga de la correspondiente autorización expresa de la Asociación.
        </p>
        <p>
          El Consumidor Colaborativo tan sólo dispone de un derecho de uso estrictamente privado,

          exclusivamente con la finalidad de disfrutar de las prestaciones del Servicio de acuerdo con estas

          Condiciones.
        </p>
        <div class="modal-header sub">
          <h4 class="modal-title">7. Responsabilidad</h4>
        </div>
        <p>
          <b>7.1.</b> El acceso y/o uso del Servicio se realiza siempre bajo la responsabilidad del Consumidor

          Colaborativo, quien declara conocer el funcionamiento del Servicio. La Asociación no se hace

          responsable del uso que el Consumidor Colaborativo haga del Servicio ni de la información o la

          prestación de actividades llevadas a cabo por el mismo.
        </p>
        <p>
          <b>7.2.</b> Hasta el máximo permitido por la ley, la Asociación no acepta ningún tipo de responsabilidad

          por cualquier pérdida o daño (incluyendo sin carácter limitativo cualquier tipo de daño o pérdida

          directa, indirecta o consecuencial, pérdida de negocio, datos –incluidos los del Consumidor

          Colaborativo del Perfil-, contratos o beneficios, pérdidas o daños en relación con programas o

          equipos informáticos) que puedan surgir por el acceso o utilización o la incapacidad de acceder o

          utilizar el Servicio o cualquier parte del mismo, cualquiera que sea la causa, incluyendo sin

          carácter limitativo la ausencia de Productos que cubran las necesidades del Consumidor

          Colaborativo, los daños que pueda producir el consumo de los Productos, los problemas de

          conexión con el Servicio, la compatibilidad de los equipos del Consumidor Colaborativo con el Sitio

          Web, entre otros. La Asociación, en su rol de nexo entre proveedores y consumidores, no

          garantiza ni calidad ni cantidad de los productos ofrecidos, por lo que no será responsable por

          cualquier posible daño causado a la salud del Consumidor Colaborativo que surja por el consumo

          de los Productos.
        <p>
          <b>7.3.</b>La Asociación no tendrá ninguna responsabilidad por información errónea o por las

          prestaciones o acciones realizadas por cualquier Consumidor Colaborativo o persona en relación

          con las peticiones realizadas por el Perfil mediante el Sitio Web, o por las consecuencias del uso

          del Servicio o del Sitio Web. Es absolutamente necesario que los Consumidores Colaborativos

          verifiquen la información personal disponible mediante el Servicio y las preferencias para su

          utilización y/o publicación.
        </p>
        <p>
          <b>7.4.</b> Asimismo, la Asociación tampoco se hace responsable de otros servicios o contenidos de

          terceros a los que se pueda acceder a través del Servicio, y en especial, no se hace responsable de

          los incumplimientos o de los daños o perjuicios causados por una acción u omisión del operador

          de telefonía móvil o del prestador de servicios de acceso a Internet del Consumidor Colaborativo o

          del proveedor del dispositivo móvil o del ordenador. La asociación dispone en su Sitio Web de

          “links” o hipervínculos a otros sitios web los cuales dependen de terceros, incluyendo redes

          sociales. Dichos hipervínculos se facilitan únicamente a título informativo para el Consumidor

          Colaborativo o para la facilidad de interactuar con redes sociales. La Asociación no tiene control

          sobre los sitios web o servicios vinculados y, por tanto, no asume ninguna responsabilidad sobre

          los mismos, ni sobre los productos, servicios o cualquier otro elemento que se encuentre en

          dichos sitios web o servicios ni tampoco de los daños o perjuicios que pueda suponer para el

          Consumidor Colaborativo el acceso a los mismos. Asimismo, la introducción de dichos

          hipervínculos no supone la existencia de ninguna relación mercantil entre la Asociación y el titular

          del sitio o servicio web.
        </p>
        <p>
          <b>7.5.</b> La Asociación no garantiza en relación con el Consumidor Colaborativo que el Servicio le

          permita obtener ningún resultado concreto y en particular no garantiza que el uso del Servicio

          resulte en el tipo, cantidad o calidad que el Consumidor Colaborativo pueda esperar. La Asociación

          no garantiza que el Servicio o el Sitio Web no contengan ningún error, que su acceso o uso sea

          ininterrumpido, o que no puedan estar infectados por virus o por cualquier otro elemento que

          tenga propiedades dañinas o perjudiciales, y por tanto la Asociación no acepta ninguna

          responsabilidad a este respecto.
        </p>
        <p>
          <b>7.6.</b> El presente Servicio, se basa en una red solidaria y colaborativa de participación voluntaria,

          cuyos fines están exentos de lucro. En este marco, la Asociación no tiene ningún tipo de relación

          y/o compromiso laboral con los Consumidores Colaborativos que forman parte de la Misión

          Antiinflación, incluido los Coordinadores.
        </p>
        <div class="modal-header sub">
          <h4 class="modal-title">8. Otras Condiciones</h4>
        </div>
        <p>
          <b>8.1.</b> La Asociación se reserva el derecho a actualizar o revisar estas Condiciones, previa notificación

          al Consumidor Colaborativo, por razones legales o por cambios en la prestación del Servicio. La

          última versión de las Condiciones estará siempre disponible en el Sitio web. En caso de

          modificación de las Condiciones, el Consumidor Colaborativo podrá en el plazo de 30 días desde la

          notificación de la modificación, si no está de acuerdo con las nuevas Condiciones, resolver el

          contrato cancelando su suscripción al Servicio. El uso continuado del Servicio por parte del

          Consumidor Colaborativo una vez hayan entrado en vigor las nuevas condiciones significará la

          aceptación de las mismas.
        </p>
        <p>
          <b>8.2.</b> Si alguna parte o cláusula de éstas Condiciones es o fuese declarada nula o sin efecto, las

          restantes estipulaciones conservarán su validez.
        </p>
        <div class="modal-header sub">
          <h4 class="modal-title">9. Legislaciób y Jurisdicción Competente</h4>
        </div>
        <p>
          <b>9.1</b> En la interpretación y resolución de los conflictos que pudiesen surgir entre la Asociación Civil

          Giros y los Consumidores Colaborativos como consecuencia de este contrato, será de aplicación la

          Legislación Argentina.
        </p>
        <p>
          <b>9.2</b> A todos los efectos legales, y ante cualquier reclamo a efectuar, las partes se someten a los

          Tribunales Provinciales de Rosario, y constituyen domicilio en los lugares arriba indicados, donde

          se considerarán válidas todas las notificaciones y emplazamientos judiciales o extrajudiciales que

          se hagan.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
