<div class="usuarios">
  <% if @usuario.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@usuario.errors.count, "error") %> El usuario no pudo ser guardado:</h2>

    <ul>
    <% @usuario.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Completá el formulario, y sos parte.</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), role: 'form') do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="col-md-6">
      <h2>Datos del coordinador</h2>

      <h4>Completa con tus datos para ser el coordinador de tu círculo</h4>

      <p class="desc">Se debe designar un coordinador entre los hogares que conforman el círculo, el cual será el vínculo de comunicación más directo entre el círculo y la organización de la Gran Misión. Este coordinador tendrá las siguientes funciones: inscribir el círculo; notificar la apertura del período de compra a los miembros de su círculo; centralizar los pedidos de su círculo y enviar la información a la Gran Misión; garantizar que algún miembro del círculo se encargue de efectuar el pago por el monto total de todas las compras del círculo, incluida la cuota mensual; notificar a la Misión el número de comprobante de pago, el miembro del círculo y el horario en que retirará los pedidos del total del círculo. Todas estas tareas el coordinador las realizará vía web, desde su casa o trabajo.</p>
    </div>

    <div class="col-md-6">

      <h3>Consumidor Colaborativo #1 [Coordinador]</h3>

      <p>Todos los campos son <strong>requeridos</strong></p>

      <div class="form-group">
        <label for="nombre">Nombre: <span>[requerido]</span></label>
        <%= f.text_field :nombre, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido: <span>[requerido]</span></label>
        <%= f.text_field :apellido, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="email1">Correo Electrónico: <span>[requerido]</span></label>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        <p class="help-block">ejemplo: tucorreo@gmail.com</p>
      </div>
      <div class="form-group">
        <label for="fecha_de_nacimiento">Fecha de nacimiento: <span>[requerido]</span></label>
        <%= f.date_select :fecha_de_nacimiento, {}, { class: 'form-control'} %>
        <p class="help-block">ejemplo: dd/mm/aaaa - 11/07/1977</p>
      </div>
      <div class="form-group">
        <label for="dni">D.N.I.: <span>[requerido]</span></label>
        <%= f.text_field :dni, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="domicilio">Domicilio: <span>[requerido]</span></label>
        <%= f.text_field :calle, class: 'form-control' %>
        <p class="help-block">ejemplo: Calle Nº Piso Depto.</p>
      </div>
      <div class="form-group">
        <label for="localidad">Localidad: <span>[requerido]</span></label>
        <%= f.text_field :ciudad, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="codigo_postal">Cod. Postal: <span>[requerido]</span></label>
        <%= f.text_field :codigo_postal, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono: </label>
        <%= f.text_field :tel1, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="celular">Celular:</label>
        <%= f.text_field :cel1, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="passOne">Contraseña: <span>[requerido]</span></label>
        <%= f.password_field :password, autocomplete: "off",  class: 'form-control' %>
        <p class="help-block">* 8 (ocho) caracteres como mínimo</p>
      </div>
      <div class="form-group">
        <label for="passTwo">Repetir Contraseña: <span>[requerido]</span></label>
        <%= f.password_field :password_confirmation, autocomplete: "off",  class: 'form-control' %>
      </div>
       <div class="form-group">
        <input type="checkbox" checked="" name="terminos" id="term">
        <label for="term" style="line-height: 26px; padding-top: 24px">
          Acepto los términos y condiciones.
        </label>
      </div>
      <div class="form-group">
        <div><%= f.submit "Registrate", class: 'lm-form-nav' %></div>
      </div>

    </div>
  </div>
<% end %>
</div>