<div class="home">
  <h1 class="titulo">Bienvenido a tu panel de administración.</h1>

  <p class="explicacion">Si estas acá, es porque sos administrador en la Misión Anti Inflación.<br/>
  Utiliza el menu superior para acceder y administrar el sitio.</p>

  <%= image_tag 'acceso_panel_admin.png'%>
</div>