<%- model_class = Pedido -%>
<div class="row">
  <div class="pedidos">
      <h1>Pedidos realizados</h1>

      <% if current_usuario && current_usuario.admin? %>
        <%= link_to "Exportar CSV", pedidos_path(format: "csv", ciclo_id: @ciclo_id), class: "btn btn-success btn-xs" %>
        <%= form_tag pedidos_path, method: :get, class: 'form-inline' do %>
          <h3>Filtros:</h3>
          <div class="form-group">
            <label for="ciclo_id">Ciclo:</label>
            <%= select_tag "ciclo_id",
                  options_from_collection_for_select(@ciclos, "id", "nombre", @ciclo_id),
                  include_blank: true, class: 'form-control input-sm' %>
          </div>
          <%= submit_tag 'Filtrar', class: "btn btn-success btn-xs" %>
        <% end %>
      <% end %>

      <table class='table table-striped' data-search="true">
        <thead>
          <tr>
            <td>Numero</td>
            <td>Fecha</td>
            <td>Ciclo</td>
            <td>Coordinador</td>
            <td>Cìrculo N°</td>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
        <% @pedidos.each do |p| %>
          <tr>
            <td><%= p.id %></td>
            <td><%= l p.created_at %></td>
            <td><%= p.ciclo.nombre %></td>
            <td><%= p.circulo.try('coordinador') ? (p.circulo.coordinador.nombre + ' ' + p.circulo.coordinador.apellido) : 'SIN COORDINADOR' %></td>
            <td><%= p.circulo.id%></td>
            <td>
              <%= link_to('Ver', pedido_path(p), class: 'btn btn-info btn-mini') %>
            </td>
            <td>
              <% if(p.ciclo.id && Compra::ciclo_actual.try(:id) == p.ciclo.id)%>
                <%= link_to('Modificar',
                      edit_pedido_path(p),
                      data: { confirm: 'Luego de modificar el pedido recuerda volver a enviarlo.' },
                      class: 'btn btn-warning btn-mini') %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>
</div>

