<h1>Categoría <%= @categoria.nombre %></h1>
<div class="categorias">
  <div class="breadcrumb">
    <%= link_to 'Editar', edit_categoria_path(@categoria) %> |
    <%= link_to 'Atras', categorias_path %>
  </div>
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Descripcion:</strong>
    <%= @categoria.descripcion %>
  </p>

</div>