<h2>Iniciar Sesión</h2>

<div class="login">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %></div>

      <div><%= f.label :password, 'Contraseña' %><br />
        <%= f.password_field :password, autocomplete: "off" %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me, 'Recordarme' %></div>
      <% end -%>

      <div><%= f.submit "Ingresar" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
</div>