<h1>Editar Ciclo de Compra</h1>
<div class="compras">
  <div class="breadcrumb">
    <%= link_to 'Mostrar', @compra %>
    <%= link_to 'Atras', compras_path %>
  </div>
    <%= render 'form' %>
</div>
