<h1>Listado de Ciclos de compras</h1>
<br>
<div class="compras">
  <div class="navbar navs-fixed">
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_compra_path,
                :class => 'btn btn-primary' if can? [:manage], Compra %>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha inicio pedidos</th>
      <th>Fecha fin pedidos</th>
      <th>Fecha fin pagos</th>
      <th>Fecha entrega</th>
      <th>&nbsp;</th>
    </tr>
    </thead>

    <tbody>
    <% @compras.each do |compra| %>
        <tr>
          <td><%= compra.nombre %></td>
          <td><%= l compra.fecha_inicio_compras %></td>
          <td><%= l compra.fecha_fin_compras %></td>
          <td><%= l compra.fecha_fin_pagos %></td>
          <td><%= l compra.fecha_entrega_compras %></td>
          <td><%= link_to 'Modificar', edit_compra_path(compra), class: "btn btn-default btn-xs" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>