<%= form_for @producto, :html => { :multipart => true, :class => "form-horizontal producto" } do |f| %>

    <% if @producto.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@producto.errors.count, "error") %> El producto no pudo ser guardado:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @producto.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :imagen, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :imagen %>
    </div>
    <%= error_span(@producto[:imagen]) %>
  </div>
  <div class="control-group">
    <%= f.label :precio, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :precio, :class => 'form-control' %>
    </div>
    <%= error_span(@producto[:precio]) %>
  </div>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'form-control' %>
    </div>
    <%= error_span(@producto[:nombre]) %>
  </div>
  <div class="control-group">
    <%= f.label :codigo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :codigo, :class => 'form-control' %>
    </div>
    <%= error_span(@producto[:codigo]) %>
  </div>
  <div class="control-group">
    <%= f.label :descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :descripcion, :class => 'form-control' %>
    </div>
    <%= error_span(@producto[:descripcion]) %>
  </div>
  <div class="control-group">
    <%= f.label :oculto, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :oculto, :class => 'form-control' %>
    </div>
    <%= error_span(@producto[:oculto]) %>
  </div>
  <div class="control-group">
    <%= f.label :precio_super, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :precio_super, :class => 'form-control' %>
    </div>
    <%= error_span(@producto[:precio_super]) %>
  </div>
  <div class="control-group">
    <%= f.label :cantidad_permitida, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cantidad_permitida, :class => 'form-control' %>
    </div>
    <%= error_span(@producto[:cantidad_permitida]) %>
  </div>
  <div class="control-group">
    <%= f.label :supplier_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:supplier_id, 
                   options_for_select(Supplier.all.map{|s| [s.name,s.id]},@producto[:supplier_id]), 
                   { include_blank: 'Elija proveedor', class: 'form-control' }) %>
    </div>
    <%= error_span(@producto[:supplier]) %>
  </div>

  <div class="control-group">

    <% Categoria.all.each do |categoria| %>
    <div class="controls">
      <label><%= categoria.nombre -%>
      <%= check_box_tag "producto[categoria_ids][]", categoria.id, @producto.categorias.include?(categoria) %>
      </label></div>
    <% end %>

  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            productos_path, :class => 'btn btn-default' %>

<% end %>
