<%- model_class = Producto -%>
<% content_for :cart_menu do %>
  <%= render 'carts/menu' %>
<% end %>

<% if can? [:manage], Producto %>
  <div class="row">
    <div class="col-xs-12">
      <div class="navbar navs-fixed">
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_producto_path,
                    :class => 'btn btn-primary' if can? :manage, Producto %>
        <%= link_to "Exportar CSV", productos_path(format: "csv"), class: "btn btn-success" %>
      </div>

      <%= form_tag(upload_productos_path, multipart: true, class: 'form-inline') do %>
        <div class="form-group">
          <%= file_field_tag 'file' %>
        </div>
        <%= submit_tag 'Subir', class: "btn btn-success btn-xs"%>
      <% end %>
    </div>
   </div>
<% end %>

<div id="productos" class="row list-group">
<% @productos.each do |producto|%>
    <div class="item col-xs-4 col-lg-4">
      <div class="thumbnail">
        <div class="list-group-image text-center">
          <a href="" onclick="return false;" data-toggle="popover" data-container="body" data-content="<%= producto.descripcion %>" >
          <%= image_tag(producto.imagen, style: "height:180px;", size: "180", class: 'group') %>
          </a>
        </div>
        <div class="caption red text-center left">
          <h4 class="group inner list-group-item-heading"><%= producto.nombre %></h4>
        </div>
        <div class="col-lg-12">
          <p class="precio brown text-center">precio misión <%= number_to_currency(producto.precio) %></p>
        </div>
        <div class="col-lg-12 v-center">
          <p class="precio-super red text-center">Precio hiper <%= number_to_currency(producto.precio_super) %></p>
        </div>
        <div class="col-lg-12">
          <p class="ahorro brown text-center">ahorro <%= number_to_percentage(producto.ahorro) %></p>
        </div>
        <div class="col-lg-12 text-center">
          <select class="cantidad">
            <% for i in 1..producto.cantidad_permitida %>
              <option value="<%= i %>"><%= i %></option>
            <% end %>
          </select>
          <% if @carrito.producto?(producto.id) %>
            <%= button_tag(type: 'button',
                           class: 'btn btn btn-default',
                           data: {
                             action: 'remove',
                             productId: producto.id
                           }) do %>
                <span class="icon-cart glyphicon-align-left"></span> <span class="cart-action">Eliminar del</span> carro
            <% end %>
          <% else %>
            <%= button_tag(type: 'button',
                           class: 'btn btn btn-default',
                           data: {
                            productId: producto.id,
                            action: 'add'
                           }) do %>
                <span class="icon-cart glyphicon-align-left"></span> <span class="cart-action">Agregar al</span> carro
            <% end %>
          <% end %>
        </div>
        <% if can? [:update, :detele], producto %>
            <div class="col-lg-12">
              <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <%= button_to t('.edit', :default => t("helpers.links.edit")),
                                  edit_producto_path(producto),
                                  :method => :get,
                                  :class => 'btn btn-default admin'  %>
                </div>
              </div>
            </div>
            <% if producto.oculto? %>
              <div class="oculto">
                <span>Oculto</span>
              </div>
            <% end   %>
        <% end %>
        <div class="row">

        </div>
      </div>
    </div>
<% end %>
</div>

<script type="text/javascript">
  $(function () {
  $('[data-toggle="popover"]').popover()
})
</script>