<%- model_class = Producto -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:precio) %>:</strong></dt>
  <dd><%= @producto.precio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @producto.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descripcion) %>:</strong></dt>
  <dd><%= @producto.descripcion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:precio_super) %>:</strong></dt>
  <dd></dd>
  <dt><strong><%= model_class.human_attribute_name(:cantidad_permitida) %>:</strong></dt>
  <dd><%= @producto.cantidad_permitida %></dd>
</dl>
<%=link_to "", class: "btn btn-default", data: {
    target: @cart_action,
    addUrl: add_to_cart_path(@producto),
    removeUrl: remove_from_cart_path(@producto)} do %>
    <span><%=@cart_action%></span> Cart
<%end%>

<%= link_to t('.back', :default => t("helpers.links.back")),
              productos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_producto_path(@producto), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              producto_path(@producto),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
