<%= form_for(@usuario, as: :usuario, html: { class: 'form-horizontal'}) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> No se pudo guardar el usuario:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.text_field :nombre, class: "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label :apellido, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.text_field :apellido, class: "form-control"  %></div>
  </div>
  <div class="form-group">
    <%= f.label :fecha_de_nacimiento, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.date_select :fecha_de_nacimiento, start_year: 1900 %></div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.text_field :email, class: "form-control"  %></div>
  </div>
  <div class="form-group">
    <%= f.label :calle, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.text_field :calle, class: "form-control"  %></div>
  </div>
  <div class="form-group">
    <%= f.label :codigo_postal, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.text_field :codigo_postal, class: "form-control"  %></div>
  </div>
  <div class="form-group">
    <%= f.label :ciudad, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.text_field :ciudad, class: "form-control"  %></div>
  </div>
  <div class="form-group">
    <%= f.label :pais, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.text_field :pais, class: "form-control"  %></div>
  </div>
  <div class="form-group">
    <%= f.label :tel1, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.text_field :tel1, class: "form-control"  %></div>
  </div>
  <div class="form-group">
    <%= f.label :cel1, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.text_field :cel1, class: "form-control"  %></div>
  </div>
  <% if current_usuario && current_usuario.admin? %>
    <div class="form-group">
      <%= f.label :circulo_id, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.select(:circulo_id, Circulo.all.map {|c| [ c.id, c.id ] }, class: "form-control") %></div>
    </div>
  <% end %>
  <% if current_usuario && current_usuario.admin? %>
    <div class="form-group">
      <%= f.label :tipo, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= select(:usuario, :type, Usuario.types.collect {|p| [ p, p ] }, {}, { class: "form-control"}) %></div>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
