<h1>Modificar usuario</h1>
<div class="usuarios">
  <div class="breadcrumb">
    <%= link_to 'Mostrar', @usuario %> |
    <%= link_to 'Volver', usuario_path(current_usuario) %>
  </div>
  <%= render 'form' %>

</div>