<div class="row">
  <h1>Usuarios</h1>

  <%= link_to "Exportar CSV", usuarios_path(format: "csv"), class: "btn btn-success btn-xs" %>

  <div class="usuarios">
    <div class="navbar navs-fixed">
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_usuario_path,
                  :class => 'btn btn-primary' if can? [:manage], Usuario %>
    </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Tipo</th>
            <th colspan="2"></th>
          </tr>
        </thead>

      <tbody>
        <% @usuarios.each do |usuario| %>
            <tr>
              <td><%= usuario.id %></td>
              <td><%= usuario.nombre %></td>
              <td><%= usuario.apellido %></td>
              <td><%= usuario.type %></td>
              <td><%= link_to 'Ver', usuario, class: 'btn btn-info btn-mini' %></td>
              <td><%= link_to 'Modificar', edit_usuario_path(usuario), class: 'btn btn-warning btn-mini' %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>