<div class="row">
  <h1>Usuario: <%= @usuario.nombre %>  <%= @usuario.apellido %></h1>
  <div class="usuarios">
    <div class="breadcrumb">
      <%= link_to 'Modificar', edit_usuario_path(@usuario), class: 'btn btn-primary' %>
    </div>
      <div class="col-md-6">
        <h3>Tus datos:</h3>

        <p>
          <strong>Nombre:</strong>
          <%= @usuario.nombre %>
        </p>

        <p>
          <strong>Apellido:</strong>
          <%= @usuario.apellido %>
        </p>

        <p>
          <strong>Fecha de nacimiento:</strong>
          <%= @usuario.fecha_de_nacimiento %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @usuario.email %>
        </p>

        <p>
          <strong>Dirección:</strong>
          <%= @usuario.calle %>
        </p>

        <p>
          <strong>Codigo postal:</strong>
          <%= @usuario.codigo_postal %>
        </p>

        <p>
          <strong>Ciudad:</strong>
          <%= @usuario.ciudad %>
        </p>

        <p>
          <strong>Pais:</strong>
          <%= @usuario.pais %>
        </p>

        <p>
          <strong>Tel1:</strong>
          <%= @usuario.tel1 %>
        </p>

        <p>
          <strong>Cel1:</strong>
          <%= @usuario.cel1 %>
        </p>

        <p>
          <strong>Tipo:</strong>
          <%= @usuario.type %>
        </p>
      </div>
      <div class="col-md-6">
        <% if @usuario.circulo.nil? %>
          <h3>No perteneces a ningun circulo.</h3>
          <p class="label-warning">Comunicate con un coordinador de círculo para que te agregue. <br/>Recuerda que tú código de
          usuario es el: <b><%= @usuario.id%></b> </p>
        <% else %>
          <h3>Perteneces al Círculo N°: <%=@usuario.circulo_id %> </h3>
            <% if @ciclo_actual_completo %>
                <p class="text-center">Ciclo Actual: <%= @ciclo_actual_completo.nombre %></p>
                <p>Desde el <strong><%= l @ciclo_actual_completo.fecha_inicio_compras %></strong></p>
                <p>hasta el <strong><%= l @ciclo_actual_completo.fecha_fin_compras %></strong></p>
                <p>Ultimo día para realizar el pago <strong><%= l @ciclo_actual_completo.fecha_fin_pagos %></strong></p>
            <% else %>
                <div class="error text-center">No hay Ciclo Activo</div>
            <% end %>
          <h3>Usuarios en tu circulo:</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nro ident.</th>
                <th>Pedido</th>
                <th>Importe</th>
                <% if can?(:remove_usuario , @usuario.circulo) %><th>Eliminar del circulo</th><% end %>
              </tr>
            </thead>
            <tbody>
              <% @usuario.circulo.usuarios.each do |u| %>
                <tr <%= (u == current_usuario) ? 'class=strong' : '' %> >
                  <td><%= u.type %></td>
                  <td><%= u.nombre %></td>
                  <td><%= u.apellido %></td>
                  <td><%= u.id %></td>
                  <td><%= u.pedido?(Compra::ciclo_actual_completo) ? '<i class="fa fa-check-circle-o" title="Realizado"></i>'.html_safe : '<i class="fa fa-circle-o" title="Pendiente"></i>'.html_safe %></td>
                  <td><%= number_to_currency(u.pedido_del_ciclo(Compra::ciclo_actual_completo).try('total')) %></td>

                    <% if can?(:remove_usuario , @usuario.circulo) && !u.coordinador?%>
                      <td>
                        <%= link_to 'Eliminar', circulo_remove_usuario_path(circulo_id: @usuario.circulo.id, usuario_id: u.id), method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-danger btn-xs' + (u.pedido?(Compra::ciclo_actual) ? ' disabled' : '') %>
                        </td>
                    <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-right csocial"><span>Cuota Social:</span> $<%=Producto.find_by_codigo('CSOCIAL').precio %></div>
          <% if can?(:remove_usuario , @usuario.circulo) %>
            <i>* Solo podras eliminar usuarios sin pedidos realizados.</i><br/>
            <i>** Para abandonar el circulo, comunicate con la mision.</i>
          <% end %>

          <br/><br/>

          <% if !current_usuario.coordinador? %>
            <%= link_to 'Abandonar circulo', circulo_abandonar_path(@usuario.circulo), method: :post, data: { confirm: 'Seguro de abandonar el circulo?' }, class: "btn btn-danger btn-xs" %>
            <br/><br/>
          <% end %>



          <% if can?(:manage , @usuario.circulo) && !@usuario.circulo.completo? %>
            <%= form_tag(circulo_add_usuario_path(@usuario.circulo), method: "post") do %>
              Agregar usuario nro: <input type="text" value="" name="usuario_id" />
              <button type="submit">Agregar</button>
            <% end %>
          <% end %>

          <% if @usuario.circulo.completo? %>
            <h4>Su circulo esta completo.</h4>
          <% end %>

        <% end %>
      </div>
  </div>
</div>




