// Place all the styles related to the productos controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/


@rojo: #bd4640;
@font-bold: 'liberation_sansbold';
@font-reg: 'liberation_sansregular';
@font-titles: 'liberation_sansregular';
@font-others: 'Kreon', 'serif';
@marron: #b9a981;
@lila: #9B6185;
@celeste:#428bca;
@bordeCeleste: #357ebd;
@blanco: #fff;


.icon-cart{
  margin-right: 5px;
}

#productos{
  min-height: 450px;
  .item{
    position: relative;
    font-family: "Fjalla One";
    .thumbnail{
      padding:0px 0px 10px 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      text-transform: uppercase;
      .list-group-image{
        max-width: 100%;
        max-height: 220px;
        img {
          border: none;
        }
      }

      .btn-group .admin{
        background-color: @celeste;
        border-color: @bordeCeleste;
      }
      .btn{
        background: @rojo;
        color: @blanco;
      }
      .red{
        background: @rojo;
        border-bottom: 1px solid @blanco;
        font-family: "Fjalla One";
        box-shadow: 0px 4px 8px 0 #444 inset;
        height: 28px;
        max-height: 32px;
        margin-bottom: 0px;
        font-size: 14px;
        color: #fff;
      }
      .brown{
        font-family: "Fjalla One";
        background: @marron;
        border-bottom: 1px solid @blanco;
        height: 28px;
        max-height: 32px;
        margin-bottom: 0px;
        font-size: 14px;
        color: #fff;
      }
      .caption{
        padding: 3px 5px ;
        h4{
          color: #fff;
          font-size: 12px;
        }
      }
      .precio{
        padding-top: 5px;
        font-size: 18px;
      }
      .ahorro{
        margin-bottom: 15px;
        padding-top: 5px;
        font-size: 16px;
      }
      .precio-super{
        padding-top: 5px;
        font-size: 14px;
      }
    }
    .oculto{
      position:absolute;
      top:20px;
      width: 50px;
      height: 50px;
      span{
        color: @rojo;
        font-size: 18px;
      }
    }
  }
}