<h1>Lista de Proveedores</h1>
<div class="suppliers">
  <div class="navbar navs-fixed">
    <%= link_to t('Crear Proveedor', :default => t("helpers.links.new")),
                new_supplier_path,
                :class => 'btn btn-primary' if can? [:manage], Supplier
    %>
  </div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.address %></td>
        <td><%= t supplier.nature %></td>
        <td><%= link_to 'Mostrar', supplier, class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Modificar', edit_supplier_path(supplier), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Eliminar', supplier, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
