<style type="text/css">
  body { padding-top: 50px; }
</style>
<div class="navbar navs-fixed navbar-fixed-top">
    <div class="row usuario">
      <div class="container">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <%= link_to(root_path) do %>
                <span class="icon-home"></span>INICIO
              <% end %>
            </li>
            <% if can? [:manage], categorias_path %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu <i class="fa fa-chevron-down"></i></a>
              <ul class="dropdown-menu" role="menu">
                <% if can? [:manage], circulos_path %>
                  <li>
                    <%= link_to(circulos_path) do %>
                        <span class="icon-cogs"></span>Circulo
                    <% end %>
                  </li>
                <% end %>
                <% if can? [:manage], categorias_path %>
                  <li>
                    <%= link_to(categorias_path) do %>
                      <span class="icon-key2"></span>Categorías
                      <% end %>
                  </li>
                <% end %>
                <% if can? [:manage], compras_path %>
                  <li>
                    <%= link_to(compras_path) do %>
                      <span class="icon-key2"></span>Ciclo
                      <% end %>
                  </li>
                <% end %>
                <% if can? [:manage], suppliers_path %>
                  <li>
                    <%= link_to(suppliers_path) do %>
                      <span class="icon-key2"></span>Proveedores
                      <% end %>
                  </li>
                <% end %>
                <% if can? [:manage], usuarios_path %>
                  <li>
                    <%= link_to(usuarios_path) do %>
                      <span class="icon-key2"></span>Usuarios
                      <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
            <% end %>
            
            <% if usuario_signed_in? %>
              <li>
                <%= link_to(pedidos_path) do %>
                    <span class="icon-stats"></span>Mis Pedidos
                <% end %>
              </li>
            <% end %>

            <li>
              <%= link_to(productos_path) do %>
                  <span class="icon-lmcart"></span>Tienda
              <% end %>
            </li>
            

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if usuario_signed_in? %>
              <li><p class="navbar-text"><%= truncate(current_usuario.email, length: 32) %></p></li>
              <li class="divider"></li>
              <li><%= link_to('Mis Datos', usuario_path(current_usuario))%></li>
              <li class="divider"></li>
              <li><%= link_to('Cerrar Sesion',
                    destroy_usuario_session_path,
                    method: 'delete') %></li>
            <% else %>
              <li><%= link_to('Registrate', new_usuario_registration_path)%></li>
              <li class="divider"></li>
              <li><%= link_to('Inicia Sesion', new_usuario_session_path)%></li>
            <% end %>
          </ul>
      </div>
    </div>
    <%= yield(:cart_menu) %>
</div>